.contenedor header {
  display: flex;
  gap: 3rem;
  padding-left: 5rem;
  grid-area: header;
  align-items: center;
  border-bottom: 1px solid whitesmoke;
  width: 100%;
  height: 100%; }
  .contenedor header .dropdown {
    display: none; }

.contenedor .nav-der, .contenedor .nav-izq {
  display: grid;
  justify-content: space-between;
  padding: 0.25px;
  height: 100%;
  width: 100%; }

.contenedor .nav-der ul, .contenedor .nav-izq ul {
  list-style: none;
  display: grid;
  align-items: center;
  padding-left: 0.25rem !important;
  /* modifica propiedades que agraga oboostrap por defecto*/
  margin-bottom: 0.25rem !important;
  /* modifica propiedades que agraga oboostrap por defecto*/ }

.contenedor .nav-der ul li, .contenedor .nav-izq ul li {
  display: grid;
  transform: rotate(-90deg); }

.contenedor .nav-der ul li a, .contenedor .nav-izq ul li a, footer ul li a {
  color: whitesmoke;
  text-decoration: none; }

.contenedor .frase, .contenedor .indicador {
  width: 100%;
  height: 100%;
  grid-area: frase;
  display: grid;
  justify-content: space-evenly;
  align-items: center;
  font-size: 2rem; }

.contenedor main .main-about .presentacion .ratio iframe, .contenedor main .main-about .nosotros img, .contenedor main .main-about .nosotros .ocultar img, .contenedor main .main-about .ubicacion .ratio iframe, .contenedor main .main-books img, .contenedor main .main-eventos .fotos img {
  border-radius: 25px;
  border: 1px solid #474646;
  box-shadow: 2px 3px 15px #3b3b3b;
  width: 100%; }

.contenedor main .main-about .nosotros .p, .contenedor main .main-about .nosotros .ocultar p {
  padding-top: 3rem; }

.contenedor main .main-books .fotos, .contenedor main .main-eventos .fotos {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 2rem;
  padding: 2rem; }

.contenedor .nav-der {
  grid-area: nav-der;
  border-left: 1px solid whitesmoke; }

.contenedor .nav-izq {
  grid-area: nav-izq;
  border-right: 1px solid whitesmoke; }

.contenedor .nav-der, .contenedor .nav-izq {
  display: grid;
  justify-content: space-between;
  padding: 0.25px;
  height: 100%;
  width: 100%; }

.contenedor .nav-der ul, .contenedor .nav-izq ul {
  list-style: none;
  display: grid;
  align-items: center;
  padding-left: 0.25rem !important;
  /* modifica propiedades que agraga oboostrap por defecto*/
  margin-bottom: 0.25rem !important;
  /* modifica propiedades que agraga oboostrap por defecto*/ }

.contenedor .nav-der ul li, .contenedor .nav-izq ul li {
  display: grid;
  transform: rotate(-90deg); }

.contenedor .nav-der ul li a, .contenedor .nav-izq ul li a, footer ul li a {
  color: whitesmoke;
  text-decoration: none; }

.contenedor .frase, .contenedor .indicador {
  width: 100%;
  height: 100%;
  grid-area: frase;
  display: grid;
  justify-content: space-evenly;
  align-items: center;
  font-size: 2rem; }

.contenedor main .main-about .presentacion .ratio iframe, .contenedor main .main-about .nosotros img, .contenedor main .main-about .nosotros .ocultar img, .contenedor main .main-about .ubicacion .ratio iframe, .contenedor main .main-books img, .contenedor main .main-eventos .fotos img {
  border-radius: 25px;
  border: 1px solid #474646;
  box-shadow: 2px 3px 15px #3b3b3b;
  width: 100%; }

.contenedor main .main-about .nosotros .p, .contenedor main .main-about .nosotros .ocultar p {
  padding-top: 3rem; }

.contenedor main .main-books .fotos, .contenedor main .main-eventos .fotos {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 2rem;
  padding: 2rem; }

footer {
  width: 100%;
  height: 100%;
  border-top: 1px solid whitesmoke;
  grid-area: footer;
  display: grid;
  justify-content: center;
  padding-bottom: 0.5rem; }
  footer p {
    text-align: center;
    margin-bottom: 0; }
  footer ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 5rem;
    padding-left: 0.25rem !important;
    /* modifica propiedades que agraga oboostrap por defecto*/
    margin-bottom: 0.25rem !important;
    /* modifica propiedades que agraga oboostrap por defecto*/ }

.contenedor .nav-der, .contenedor .nav-izq {
  display: grid;
  justify-content: space-between;
  padding: 0.25px;
  height: 100%;
  width: 100%; }

.contenedor .nav-der ul, .contenedor .nav-izq ul {
  list-style: none;
  display: grid;
  align-items: center;
  padding-left: 0.25rem !important;
  /* modifica propiedades que agraga oboostrap por defecto*/
  margin-bottom: 0.25rem !important;
  /* modifica propiedades que agraga oboostrap por defecto*/ }

.contenedor .nav-der ul li, .contenedor .nav-izq ul li {
  display: grid;
  transform: rotate(-90deg); }

.contenedor .nav-der ul li a, .contenedor .nav-izq ul li a, footer ul li a {
  color: whitesmoke;
  text-decoration: none; }

.contenedor .frase, .contenedor .indicador {
  width: 100%;
  height: 100%;
  grid-area: frase;
  display: grid;
  justify-content: space-evenly;
  align-items: center;
  font-size: 2rem; }

.contenedor main .main-about .presentacion .ratio iframe, .contenedor main .main-about .nosotros img, .contenedor main .main-about .nosotros .ocultar img, .contenedor main .main-about .ubicacion .ratio iframe, .contenedor main .main-books img, .contenedor main .main-eventos .fotos img {
  border-radius: 25px;
  border: 1px solid #474646;
  box-shadow: 2px 3px 15px #3b3b3b;
  width: 100%; }

.contenedor main .main-about .nosotros .p, .contenedor main .main-about .nosotros .ocultar p {
  padding-top: 3rem; }

.contenedor main .main-books .fotos, .contenedor main .main-eventos .fotos {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 2rem;
  padding: 2rem; }

.contenedor .indicador h1 {
  font-size: 2rem;
  transform: rotate(-90deg); }

.contenedor .nav-der, .contenedor .nav-izq {
  display: grid;
  justify-content: space-between;
  padding: 0.25px;
  height: 100%;
  width: 100%; }

.contenedor .nav-der ul, .contenedor .nav-izq ul {
  list-style: none;
  display: grid;
  align-items: center;
  padding-left: 0.25rem !important;
  /* modifica propiedades que agraga oboostrap por defecto*/
  margin-bottom: 0.25rem !important;
  /* modifica propiedades que agraga oboostrap por defecto*/ }

.contenedor .nav-der ul li, .contenedor .nav-izq ul li {
  display: grid;
  transform: rotate(-90deg); }

.contenedor .nav-der ul li a, .contenedor .nav-izq ul li a, footer ul li a {
  color: whitesmoke;
  text-decoration: none; }

.contenedor .frase, .contenedor .indicador {
  width: 100%;
  height: 100%;
  grid-area: frase;
  display: grid;
  justify-content: space-evenly;
  align-items: center;
  font-size: 2rem; }

.contenedor main .main-about .presentacion .ratio iframe, .contenedor main .main-about .nosotros img, .contenedor main .main-about .nosotros .ocultar img, .contenedor main .main-about .ubicacion .ratio iframe, .contenedor main .main-books img, .contenedor main .main-eventos .fotos img {
  border-radius: 25px;
  border: 1px solid #474646;
  box-shadow: 2px 3px 15px #3b3b3b;
  width: 100%; }

.contenedor main .main-about .nosotros .p, .contenedor main .main-about .nosotros .ocultar p {
  padding-top: 3rem; }

.contenedor main .main-books .fotos, .contenedor main .main-eventos .fotos {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 2rem;
  padding: 2rem; }

.contenedor main .main-index {
  width: 100%;
  height: 100%;
  display: grid;
  justify-content: center;
  align-items: center; }
  .contenedor main .main-index img {
    width: 100%;
    height: 100%;
    padding-bottom: 5rem;
    padding-right: 5rem; }

.contenedor .nav-der, .contenedor .nav-izq {
  display: grid;
  justify-content: space-between;
  padding: 0.25px;
  height: 100%;
  width: 100%; }

.contenedor .nav-der ul, .contenedor .nav-izq ul {
  list-style: none;
  display: grid;
  align-items: center;
  padding-left: 0.25rem !important;
  /* modifica propiedades que agraga oboostrap por defecto*/
  margin-bottom: 0.25rem !important;
  /* modifica propiedades que agraga oboostrap por defecto*/ }

.contenedor .nav-der ul li, .contenedor .nav-izq ul li {
  display: grid;
  transform: rotate(-90deg); }

.contenedor .nav-der ul li a, .contenedor .nav-izq ul li a, footer ul li a {
  color: whitesmoke;
  text-decoration: none; }

.contenedor .frase, .contenedor .indicador {
  width: 100%;
  height: 100%;
  grid-area: frase;
  display: grid;
  justify-content: space-evenly;
  align-items: center;
  font-size: 2rem; }

.contenedor main .main-about .presentacion .ratio iframe, .contenedor main .main-about .nosotros img, .contenedor main .main-about .nosotros .ocultar img, .contenedor main .main-about .ubicacion .ratio iframe, .contenedor main .main-books img, .contenedor main .main-eventos .fotos img {
  border-radius: 25px;
  border: 1px solid #474646;
  box-shadow: 2px 3px 15px #3b3b3b;
  width: 100%; }

.contenedor main .main-about .nosotros .p, .contenedor main .main-about .nosotros .ocultar p {
  padding-top: 3rem; }

.contenedor main .main-books .fotos, .contenedor main .main-eventos .fotos {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 2rem;
  padding: 2rem; }

.contenedor main .main-about {
  width: 90%;
  display: grid;
  justify-content: center; }
  .contenedor main .main-about h1 {
    padding-top: 3rem;
    padding-bottom: 1rem; }
  .contenedor main .main-about .presentacion {
    width: 100%;
    color: whitesmoke; }
    .contenedor main .main-about .presentacion .ratio iframe {
      grid-column: span 5;
      height: 100%; }
  .contenedor main .main-about .nosotros {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 4rem;
    padding-left: 0.0rem; }
  .contenedor main .main-about .ubicacion {
    width: 100%; }
    .contenedor main .main-about .ubicacion .ratio iframe {
      grid-column: span 5;
      height: 100%; }

.contenedor .nav-der, .contenedor .nav-izq {
  display: grid;
  justify-content: space-between;
  padding: 0.25px;
  height: 100%;
  width: 100%; }

.contenedor .nav-der ul, .contenedor .nav-izq ul {
  list-style: none;
  display: grid;
  align-items: center;
  padding-left: 0.25rem !important;
  /* modifica propiedades que agraga oboostrap por defecto*/
  margin-bottom: 0.25rem !important;
  /* modifica propiedades que agraga oboostrap por defecto*/ }

.contenedor .nav-der ul li, .contenedor .nav-izq ul li {
  display: grid;
  transform: rotate(-90deg); }

.contenedor .nav-der ul li a, .contenedor .nav-izq ul li a, footer ul li a {
  color: whitesmoke;
  text-decoration: none; }

.contenedor .frase, .contenedor .indicador {
  width: 100%;
  height: 100%;
  grid-area: frase;
  display: grid;
  justify-content: space-evenly;
  align-items: center;
  font-size: 2rem; }

.contenedor main .main-about .presentacion .ratio iframe, .contenedor main .main-about .nosotros img, .contenedor main .main-about .nosotros .ocultar img, .contenedor main .main-about .ubicacion .ratio iframe, .contenedor main .main-books img, .contenedor main .main-eventos .fotos img {
  border-radius: 25px;
  border: 1px solid #474646;
  box-shadow: 2px 3px 15px #3b3b3b;
  width: 100%; }

.contenedor main .main-about .nosotros .p, .contenedor main .main-about .nosotros .ocultar p {
  padding-top: 3rem; }

.contenedor main .main-books .fotos, .contenedor main .main-eventos .fotos {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 2rem;
  padding: 2rem; }

.contenedor main .main-books p {
  width: 95%;
  padding-bottom: 2rem;
  padding-left: 3rem;
  text-align: left; }

.contenedor .nav-der, .contenedor .nav-izq {
  display: grid;
  justify-content: space-between;
  padding: 0.25px;
  height: 100%;
  width: 100%; }

.contenedor .nav-der ul, .contenedor .nav-izq ul {
  list-style: none;
  display: grid;
  align-items: center;
  padding-left: 0.25rem !important;
  /* modifica propiedades que agraga oboostrap por defecto*/
  margin-bottom: 0.25rem !important;
  /* modifica propiedades que agraga oboostrap por defecto*/ }

.contenedor .nav-der ul li, .contenedor .nav-izq ul li {
  display: grid;
  transform: rotate(-90deg); }

.contenedor .nav-der ul li a, .contenedor .nav-izq ul li a, footer ul li a {
  color: whitesmoke;
  text-decoration: none; }

.contenedor .frase, .contenedor .indicador {
  width: 100%;
  height: 100%;
  grid-area: frase;
  display: grid;
  justify-content: space-evenly;
  align-items: center;
  font-size: 2rem; }

.contenedor main .main-about .presentacion .ratio iframe, .contenedor main .main-about .nosotros img, .contenedor main .main-about .nosotros .ocultar img, .contenedor main .main-about .ubicacion .ratio iframe, .contenedor main .main-books img, .contenedor main .main-eventos .fotos img {
  border-radius: 25px;
  border: 1px solid #474646;
  box-shadow: 2px 3px 15px #3b3b3b;
  width: 100%; }

.contenedor main .main-about .nosotros .p, .contenedor main .main-about .nosotros .ocultar p {
  padding-top: 3rem; }

.contenedor main .main-books .fotos, .contenedor main .main-eventos .fotos {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 2rem;
  padding: 2rem; }

.contenedor main .main-contactos {
  width: 95%;
  height: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
  padding-top: 1rem; }
  .contenedor main .main-contactos h1 {
    display: none; }
  .contenedor main .main-contactos form {
    width: 95%;
    padding-bottom: 1rem; }

.contenedor .nav-der, .contenedor .nav-izq {
  display: grid;
  justify-content: space-between;
  padding: 0.25px;
  height: 100%;
  width: 100%; }

.contenedor .nav-der ul, .contenedor .nav-izq ul {
  list-style: none;
  display: grid;
  align-items: center;
  padding-left: 0.25rem !important;
  /* modifica propiedades que agraga oboostrap por defecto*/
  margin-bottom: 0.25rem !important;
  /* modifica propiedades que agraga oboostrap por defecto*/ }

.contenedor .nav-der ul li, .contenedor .nav-izq ul li {
  display: grid;
  transform: rotate(-90deg); }

.contenedor .nav-der ul li a, .contenedor .nav-izq ul li a, footer ul li a {
  color: whitesmoke;
  text-decoration: none; }

.contenedor .frase, .contenedor .indicador {
  width: 100%;
  height: 100%;
  grid-area: frase;
  display: grid;
  justify-content: space-evenly;
  align-items: center;
  font-size: 2rem; }

.contenedor main .main-about .presentacion .ratio iframe, .contenedor main .main-about .nosotros img, .contenedor main .main-about .nosotros .ocultar img, .contenedor main .main-about .ubicacion .ratio iframe, .contenedor main .main-books img, .contenedor main .main-eventos .fotos img {
  border-radius: 25px;
  border: 1px solid #474646;
  box-shadow: 2px 3px 15px #3b3b3b;
  width: 100%; }

.contenedor main .main-about .nosotros .p, .contenedor main .main-about .nosotros .ocultar p {
  padding-top: 3rem; }

.contenedor main .main-books .fotos, .contenedor main .main-eventos .fotos {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 2rem;
  padding: 2rem; }

.contenedor main .main-eventos {
  width: 100%;
  height: 100%;
  display: grid;
  justify-content: center;
  align-items: center; }
  .contenedor main .main-eventos p {
    width: 95%;
    padding-bottom: 2rem;
    padding-left: 3rem;
    text-align: left; }

.contenedor .nav-der, .contenedor .nav-izq {
  display: grid;
  justify-content: space-between;
  padding: 0.25px;
  height: 100%;
  width: 100%; }

.contenedor .nav-der ul, .contenedor .nav-izq ul {
  list-style: none;
  display: grid;
  align-items: center;
  padding-left: 0.25rem !important;
  /* modifica propiedades que agraga oboostrap por defecto*/
  margin-bottom: 0.25rem !important;
  /* modifica propiedades que agraga oboostrap por defecto*/ }

.contenedor .nav-der ul li, .contenedor .nav-izq ul li {
  display: grid;
  transform: rotate(-90deg); }

.contenedor .nav-der ul li a, .contenedor .nav-izq ul li a, footer ul li a {
  color: whitesmoke;
  text-decoration: none; }

.contenedor .frase, .contenedor .indicador {
  width: 100%;
  height: 100%;
  grid-area: frase;
  display: grid;
  justify-content: space-evenly;
  align-items: center;
  font-size: 2rem; }

.contenedor main .main-about .presentacion .ratio iframe, .contenedor main .main-about .nosotros img, .contenedor main .main-about .nosotros .ocultar img, .contenedor main .main-about .ubicacion .ratio iframe, .contenedor main .main-books img, .contenedor main .main-eventos .fotos img {
  border-radius: 25px;
  border: 1px solid #474646;
  box-shadow: 2px 3px 15px #3b3b3b;
  width: 100%; }

.contenedor main .main-about .nosotros .p, .contenedor main .main-about .nosotros .ocultar p {
  padding-top: 3rem; }

.contenedor main .main-books .fotos, .contenedor main .main-eventos .fotos {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 2rem;
  padding: 2rem; }

@media screen and (max-width: 768px) {
  body .contenedor {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.7fr 10fr .7fr; }
    body .contenedor header .dropdown {
      display: block; }
    body .contenedor .nav-izq, body .contenedor .nav-der, body .contenedor .frase, body .contenedor .indicador, body .contenedor .ocultar, body .contenedor .main-eventos .fotos .expan {
      display: none; }
    body .contenedor main {
      /*******/
      /*******/ }
      body .contenedor main .main-index img {
        padding-right: 0rem;
        padding-bottom: 0rem;
        width: 80vw;
        height: 80vh; }
      body .contenedor main .main-eventos, body .contenedor main .main-books {
        width: 90vw;
        padding-left: 2rem;
        display: grid;
        row-gap: 1rem;
        text-align: center;
        align-items: center;
        text-align: center; }
      body .contenedor main .main-eventos .fotos, body .contenedor main .main-books .fotos {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr; }
      body .contenedor main .main-contactos h1 {
        display: block; }
      body .contenedor main .main-contactos {
        padding-left: 2rem; }
      body .contenedor main .main-contactos form {
        width: 90vw;
        padding-bottom: 1.5rem; }
      body .contenedor main .row.g-3.needs-validation {
        flex-direction: column; }
      body .contenedor main .main-about {
        width: 90vw;
        padding-left: 2rem; }
        body .contenedor main .main-about .nosotros {
          grid-template-columns: 1fr;
          grid-template-rows: 1fr; } }

body {
  background-color: black;
  color: whitesmoke; }
  body .contenedor {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 0.7fr 2fr 10fr 0.7fr;
    grid-template-rows: 1fr 10fr 0.5fr;
    grid-template-areas: "header header header header" "nav-izq frase main nav-der" "footer footer footer footer"; }
