.contenedor main .main-index {
  width: 100%;
  height: 100%;
  display: grid;
  justify-content: center;
  align-items: center; }
  .contenedor main .main-index img {
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%; }

.contenedor .nav-izq, .contenedor .nav-der {
  background-color: black;
  display: grid;
  padding-bottom: 2rem;
  /*align-items: start;*/
  gap: 0.5rem;
  padding-top: 2rem;
  width: 100%; }

.contenedor .nav-izq ul, .contenedor .nav-der ul {
  position: fixed;
  list-style: none;
  display: grid;
  margin-block-end: 0;
  margin-bottom: 0;
  padding-inline-start: 0;
  gap: 6rem; }
  .contenedor .nav-izq ul li, .contenedor .nav-der ul li {
    transform: rotate(-90deg);
    padding-bottom: 1rem; }
    .contenedor .nav-izq ul li a, .contenedor .nav-der ul li a {
      color: whitesmoke;
      text-decoration: none; }

.contenedor main .main-about .nosotros img, .contenedor main .main-about .ubicacion .ratio iframe {
  border-radius: 25px;
  border: 1px solid #474646;
  box-shadow: 2px 3px 15px #3b3b3b;
  width: 100%;
  height: 100%; }

.contenedor main .main-books .fotos, .contenedor main .main-eventos .fotos {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 2rem;
  padding: 2rem;
  transition: transform 0.2s ease; }

.contenedor main .main-books, .contenedor main .main-eventos {
  width: 100%;
  height: 100%;
  display: grid;
  justify-content: center;
  align-items: center; }

.contenedor main .main-books p, .contenedor main .main-eventos p {
  width: 95%;
  padding-bottom: 2rem;
  padding-left: 3rem;
  text-align: left; }

.contenedor main .main-about {
  background-color: black;
  display: grid;
  justify-content: center;
  padding-right: 2rem;
  padding-left: 2rem; }
  .contenedor main .main-about h1 {
    padding-top: 3rem;
    padding-bottom: 1rem; }
  .contenedor main .main-about .presentacion .ratio iframe {
    width: 100%;
    height: 100%; }
  .contenedor main .main-about .nosotros {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 4rem;
    padding-left: 0.0rem; }
    .contenedor main .main-about .nosotros p,
    .contenedor main .main-about .nosotros .ocultar p {
      padding-top: 3rem; }
  .contenedor main .main-about .ubicacion {
    width: 100%; }
    .contenedor main .main-about .ubicacion .ratio iframe {
      width: 100%; }

.contenedor .nav-izq, .contenedor .nav-der {
  background-color: black;
  display: grid;
  padding-bottom: 2rem;
  /*align-items: start;*/
  gap: 0.5rem;
  padding-top: 2rem;
  width: 100%; }

.contenedor .nav-izq ul, .contenedor .nav-der ul {
  position: fixed;
  list-style: none;
  display: grid;
  margin-block-end: 0;
  margin-bottom: 0;
  padding-inline-start: 0;
  gap: 6rem; }
  .contenedor .nav-izq ul li, .contenedor .nav-der ul li {
    transform: rotate(-90deg);
    padding-bottom: 1rem; }
    .contenedor .nav-izq ul li a, .contenedor .nav-der ul li a {
      color: whitesmoke;
      text-decoration: none; }

.contenedor main .main-about .nosotros img, .contenedor main .main-about .ubicacion .ratio iframe {
  border-radius: 25px;
  border: 1px solid #474646;
  box-shadow: 2px 3px 15px #3b3b3b;
  width: 100%;
  height: 100%; }

.contenedor main .main-books .fotos, .contenedor main .main-eventos .fotos {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 2rem;
  padding: 2rem;
  transition: transform 0.2s ease; }

.contenedor main .main-books, .contenedor main .main-eventos {
  width: 100%;
  height: 100%;
  display: grid;
  justify-content: center;
  align-items: center; }

.contenedor main .main-books p, .contenedor main .main-eventos p {
  width: 95%;
  padding-bottom: 2rem;
  padding-left: 3rem;
  text-align: left; }

.contenedor main .main-contactos {
  width: 100%;
  height: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
  padding-top: 1rem; }
  .contenedor main .main-contactos h2 {
    display: none; }
  .contenedor main .main-contactos h1 {
    display: none; }
  .contenedor main .main-contactos form {
    width: 95%;
    padding-bottom: 1rem;
    width: 100%;
    height: 100%;
    padding-left: 1rem; }

.contenedor .nav-izq, .contenedor .nav-der {
  background-color: black;
  display: grid;
  padding-bottom: 2rem;
  /*align-items: start;*/
  gap: 0.5rem;
  padding-top: 2rem;
  width: 100%; }

.contenedor .nav-izq ul, .contenedor .nav-der ul {
  position: fixed;
  list-style: none;
  display: grid;
  margin-block-end: 0;
  margin-bottom: 0;
  padding-inline-start: 0;
  gap: 6rem; }
  .contenedor .nav-izq ul li, .contenedor .nav-der ul li {
    transform: rotate(-90deg);
    padding-bottom: 1rem; }
    .contenedor .nav-izq ul li a, .contenedor .nav-der ul li a {
      color: whitesmoke;
      text-decoration: none; }

.contenedor main .main-about .nosotros img, .contenedor main .main-about .ubicacion .ratio iframe {
  border-radius: 25px;
  border: 1px solid #474646;
  box-shadow: 2px 3px 15px #3b3b3b;
  width: 100%;
  height: 100%; }

.contenedor main .main-books .fotos, .contenedor main .main-eventos .fotos {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 2rem;
  padding: 2rem;
  transition: transform 0.2s ease; }

.contenedor main .main-books, .contenedor main .main-eventos {
  width: 100%;
  height: 100%;
  display: grid;
  justify-content: center;
  align-items: center; }

.contenedor main .main-books p, .contenedor main .main-eventos p {
  width: 95%;
  padding-bottom: 2rem;
  padding-left: 3rem;
  text-align: left; }

.contenedor main .main-books {
  background-color: black; }
  .contenedor main .main-books h2 {
    padding-top: 2rem;
    padding-left: 2rem; }
  .contenedor main .main-books .fotos img {
    border-radius: 25px;
    border: 1px solid #474646;
    box-shadow: 2px 3px 15px #3b3b3b;
    width: 100%; }
  .contenedor main .main-books .fotos img:hover {
    transform: scale(1.05); }

.contenedor .nav-izq, .contenedor .nav-der {
  background-color: black;
  display: grid;
  padding-bottom: 2rem;
  /*align-items: start;*/
  gap: 0.5rem;
  padding-top: 2rem;
  width: 100%; }

.contenedor .nav-izq ul, .contenedor .nav-der ul {
  position: fixed;
  list-style: none;
  display: grid;
  margin-block-end: 0;
  margin-bottom: 0;
  padding-inline-start: 0;
  gap: 6rem; }
  .contenedor .nav-izq ul li, .contenedor .nav-der ul li {
    transform: rotate(-90deg);
    padding-bottom: 1rem; }
    .contenedor .nav-izq ul li a, .contenedor .nav-der ul li a {
      color: whitesmoke;
      text-decoration: none; }

.contenedor main .main-about .nosotros img, .contenedor main .main-about .ubicacion .ratio iframe {
  border-radius: 25px;
  border: 1px solid #474646;
  box-shadow: 2px 3px 15px #3b3b3b;
  width: 100%;
  height: 100%; }

.contenedor main .main-books .fotos, .contenedor main .main-eventos .fotos {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 2rem;
  padding: 2rem;
  transition: transform 0.2s ease; }

.contenedor main .main-books, .contenedor main .main-eventos {
  width: 100%;
  height: 100%;
  display: grid;
  justify-content: center;
  align-items: center; }

.contenedor main .main-books p, .contenedor main .main-eventos p {
  width: 95%;
  padding-bottom: 2rem;
  padding-left: 3rem;
  text-align: left; }

.contenedor main .main-eventos {
  background-color: black; }
  .contenedor main .main-eventos h2 {
    padding-top: 2rem;
    padding-left: 2rem; }
  .contenedor main .main-eventos .fotos img {
    border-radius: 25px;
    border: 1px solid #474646;
    box-shadow: 2px 3px 15px #3b3b3b;
    width: 100%; }
  .contenedor main .main-eventos .fotos img:hover {
    transform: scale(1.05); }

.contenedor {
  background-color: black;
  color: whitesmoke;
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-rows: 0.5fr 10fr 0.5fr;
  grid-template-columns: 0.7fr 1.5fr 10fr 0.7fr;
  grid-template-areas: "header header header header" "nav-izq frase main nav-der" "footer footer footer footer"; }
  .contenedor main {
    display: grid;
    grid-area: main;
    height: 100%;
    background-color: black; }

.contenedor footer {
  width: 100%;
  height: 100%;
  display: grid;
  grid-area: footer;
  border-top: 1px solid whitesmoke;
  padding-bottom: 0;
  background-color: black; }
  .contenedor footer p {
    text-align: center;
    margin-bottom: 0; }
  .contenedor footer ul {
    display: flex;
    list-style: none;
    justify-content: center;
    margin-bottom: 0.5rem; }
    .contenedor footer ul li {
      padding-inline-start: 0px;
      text-align: center;
      padding-right: 2rem; }
      .contenedor footer ul li a {
        color: whitesmoke;
        text-decoration: none; }

.contenedor .frase {
  display: grid;
  grid-area: frase;
  font-size: 3rem;
  padding-left: 1.5rem; }

.contenedor .indicador {
  display: grid;
  grid-area: frase;
  align-items: start;
  font-size: 2rem;
  padding-top: 10rem;
  background-color: black;
  padding-right: 2rem; }
  .contenedor .indicador h1 {
    display: grid;
    position: fixed;
    transform: rotate(-90deg); }

.contenedor header {
  display: flex;
  padding-left: 2rem;
  align-items: center;
  justify-content: space-between;
  grid-area: header;
  border-bottom: 1px solid whitesmoke;
  width: 100%;
  height: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem; }
  .contenedor header p {
    font-size: 1.5rem;
    text-align: center; }
  .contenedor header button {
    display: none; }

.contenedor main .main-index {
  width: 100%;
  height: 100%;
  display: grid;
  justify-content: center;
  align-items: center; }
  .contenedor main .main-index img {
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%; }

.contenedor .nav-izq, .contenedor .nav-der {
  background-color: black;
  display: grid;
  padding-bottom: 2rem;
  /*align-items: start;*/
  gap: 0.5rem;
  padding-top: 2rem;
  width: 100%; }

.contenedor .nav-izq ul, .contenedor .nav-der ul {
  position: fixed;
  list-style: none;
  display: grid;
  margin-block-end: 0;
  margin-bottom: 0;
  padding-inline-start: 0;
  gap: 6rem; }
  .contenedor .nav-izq ul li, .contenedor .nav-der ul li {
    transform: rotate(-90deg);
    padding-bottom: 1rem; }
    .contenedor .nav-izq ul li a, .contenedor .nav-der ul li a {
      color: whitesmoke;
      text-decoration: none; }

.contenedor main .main-about .nosotros img, .contenedor main .main-about .ubicacion .ratio iframe {
  border-radius: 25px;
  border: 1px solid #474646;
  box-shadow: 2px 3px 15px #3b3b3b;
  width: 100%;
  height: 100%; }

.contenedor main .main-books .fotos, .contenedor main .main-eventos .fotos {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 2rem;
  padding: 2rem;
  transition: transform 0.2s ease; }

.contenedor main .main-books, .contenedor main .main-eventos {
  width: 100%;
  height: 100%;
  display: grid;
  justify-content: center;
  align-items: center; }

.contenedor main .main-books p, .contenedor main .main-eventos p {
  width: 95%;
  padding-bottom: 2rem;
  padding-left: 3rem;
  text-align: left; }

.contenedor .nav-izq {
  grid-area: nav-izq;
  border-right: 1px solid whitesmoke; }

.contenedor .nav-der {
  padding-right: 3rem;
  grid-area: nav-der;
  border-left: 1px solid whitesmoke; }

@media screen and (max-width: 900px) {
  .contenedor {
    display: grid;
    grid-template-rows: 0.7fr 10fr 0.5fr;
    grid-template-columns: 2fr 10fr;
    grid-template-areas: "header header" "frase main " "footer footer";
    width: 100%; }
    .contenedor .nav-izq,
    .contenedor .nav-der {
      display: none; }
    .contenedor header button {
      display: block; }
    .contenedor .main-eventos, .contenedor .main-books {
      width: 90vw;
      padding-left: 2rem;
      display: grid;
      row-gap: 1rem;
      text-align: center;
      align-items: center;
      text-align: center; }
    .contenedor .main-eventos .fotos, .contenedor .main-books .fotos {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr; } }

@media screen and (max-width: 640px) {
  .contenedor {
    height: 100vh;
    display: grid;
    grid-template-rows: 0.7fr 10fr 0.5fr;
    grid-template-columns: 1fr;
    grid-template-areas: "header" "main" "footer"; }
    .contenedor .nav-izq,
    .contenedor .nav-der,
    .contenedor .frase,
    .contenedor .indicador {
      display: none; }
    .contenedor main .main .main-books, .contenedor main .main-eventos {
      padding-right: 2rem; }
      .contenedor main .main .main-books .fotos, .contenedor main .main-eventos .fotos {
        display: grid;
        grid-template-columns: 1fr; }
        .contenedor main .main .main-books .fotos .ocultar, .contenedor main .main-eventos .fotos .ocultar {
          display: none; }
    .contenedor main .main-about .nosotros {
      height: 100%;
      display: grid;
      grid-template-rows: 1fr 1fr;
      grid-template-columns: 1fr; }
      .contenedor main .main-about .nosotros .ocultar {
        display: none; } }

* {
  margin: 0rem;
  padding: 0rem;
  box-sizing: border-box; }
