* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

.contenedor {
    background-color: rgb(0, 0, 0);
    color: whitesmokes;
    height: 100vh;
    display: grid;
    grid-template-columns: 0.7fr 2fr 10fr 0.7fr;
    grid-template-rows: 1fr 10fr 0.5fr;
    grid-template-areas:
        "header header header header"
        "nav-izq frase main nav-der"
        "footer footer footer footer"
    ;
    color: whitesmoke;
}

ul {
    padding-left: 0.25rem !important;
    /* modifica propiedades que agraga oboostrap por defecto*/
    margin-bottom: 0.25rem !important;
    /* modifica propiedades que agraga oboostrap por defecto*/
}

header {
    display: flex;
    gap: 3rem;
    padding-left: 5rem;
    grid-area: header;
    align-items: center;
    border-bottom: 1px solid whitesmoke;
    color: whitesmoke;
}

header .dropdown{
    display: none;
}

/*********************************************/
.contenedor nav {
    border: 1px solid whitesmoke;
    display: grid;
    justify-content: space-between;
    background-color: black;
    padding: 0.25px;
}

.contenedor nav ul {
    list-style: none;
    display: grid;
    align-items: center;
}

.contenedor nav ul li {
    display: grid;
    transform: rotate(-90deg);
}

a {
    color: whitesmoke;
    text-decoration: none;
}

/*********************************************/

.frase {
    grid-area: frase;
    color: whitesmoke;
    background-color: black;
    display: grid;
    justify-content: space-evenly;
    padding-top: 3rem;
    font-size: 2rem;
}

/**********************************************/
main .main-index {
    background-color: rgb(5, 5, 5);
    grid-area: main;
    color: whitesmoke;
}

main .main-index img {
    display: grid;
    text-align: center;
    justify-content: center;
    width: 80%;
    padding-left: 8rem;
    padding-top: 5rem;
}

/**********************************************/

.main-about {
    width: 90%;
    display: grid;
}

.main-about .presentacion {
    width: 100%;
    padding: 3rem;
}

.main-about .presentacion h1 {
    padding-bottom: 2rem;
}

.main-about .presentacion .ratio iframe {
    border-radius: 25px;
    border: 1px solid rgb(71, 70, 70);
    box-shadow: 2px 3px 15px rgb(59, 59, 59);
    grid-column: span 5;
    width: 105%;
    height: 100%;
}

.main-about .nosotros {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.25fr 1fr 1fr;
    column-gap: 4rem;
    padding-left: 3rem;
}

.main-about .nosotros p {
    justify-content: center;
    align-items: center;
    width: 100%;
    display: grid;
}

.main-about .nosotros img {
    border-radius: 25px;
    border: 1px solid rgb(71, 70, 70);
    box-shadow: 2px 3px 15px rgb(59, 59, 59);
    width: 100%;
}

.main-about .ubicacion {
    width: 90%;
    padding: 3rem;
}

.main-about .ubicacion h1 {
    padding-bottom: 2rem;
}

.main-about .ubicacion p {
    padding-top: 2rem;
}

.ratio iframe {
    border-radius: 25px;
    border: 1px solid rgb(71, 70, 70);
    box-shadow: 2px 3px 15px rgb(59, 59, 59);
    grid-column: span 5;
    width: 90%;
    height: 100%;
}

/*********************************************/
.main-books, .main-eventos {
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    padding-left: 3rem;
    background-color: black;
}

.main-books .fotos, .main-eventos .fotos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 100%;
    gap: 3rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.uno,
.dos {
    display: grid;
    align-content: center;
    justify-content: center;
}

.main-books .fotos img, .main-eventos .fotos .card {
    border-radius: 25px;
    border: 1px solid rgb(71, 70, 70);
    box-shadow: 2px 3px 15px rgb(59, 59, 59);
    width: 90%;
}

.main-books p{
    width: 90%;
    padding-left: 6rem;
}.main-eventos .cierre{
    width: 85%;
     
}




/*********************************************/
.main-contactos {
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    padding-left: 3rem;
    background-color: black;
}

.main-contactos h1{
    display: none;
}

.main-contactos form {
    width: 95%;
    padding: 0.5 rem;
}


/*********************************************/
.nav-izq {
    grid-area: nav-izq;
}

.nav-der {
    grid-area: nav-der;
}

/*********************************************/
footer {
    border-top: 1px solid whitesmoke;
    grid-area: footer;
    display: grid;
    justify-content: center;
    height: 100%;
    width: 100%;
    color: whitesmoke;
    background-color: black;
}

footer p {
    text-align: center;
}

footer ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 5rem;
}

/***************************************************************/
@media screen and (max-width:900px){

    body{
        width: 100vw;
    }

    header .dropdown{
        display: block;
    }

    header{
        margin-top: 0.5rem;
        padding-left: 0.5rem;
        width: 100vw;
        gap:0.5rem;
        justify-content:space-evenly;
    }

    .contenedor{
        width: 100vw;
        height: 100vh;
    }

    .contenedor .nav-izq, .contenedor .nav-der, .contenedor .ocultar, .contenedor .frase{
        display: none;
    }
   /***********************main********************************/
    .main-eventos{
        width: 100vw;
        gap: 0.5rem;
        padding-left: 0rem;
        text-align: center;
    }

    .main-contactos h1{
        display:block;
    }
    .main-eventos .cierre{
        padding-left: 2rem;
    }

    .main-books .fotos, .main-eventos .fotos {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1ff;
        gap: 1rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-left: 1rem;
     
    }

    .main-eventos{
        width: 100vw;
        gap: 0.5rem;
        padding-left: 0.5rem;
    }

    .main-contactos{
        padding-left: 0.5rem;
    }

    .main-contactos form{
        width:100vw ;
        padding-bottom: 1.5rem;
    }

    .main-eventos .fotos .card{
        width: 100%;
        justify-content: center;
        align-items: center;
    }

   

    
    .row.g-3.needs-validation {
        flex-direction: column;
    }


    /**********************footer**********************/

    footer{
        width: 100vw;
        padding-left: 1rem;
        text-align: center;    
    }

    footer ul{
        text-align: center; 
        justify-content: center;
        align-items: center;   
        padding-left: 2rem;
        margin-bottom: 1rem;
    }
 

}