* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: whitesmoke;
}

.contenedor {
    background-color: rgb(0, 0, 0);
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 0.7fr 2fr 10fr 0.7fr;
    grid-template-rows: 1fr 10fr 0.5fr;
    grid-template-areas:
        "header header header header"
        "nav-izq frase main nav-der"
        "footer footer footer footer"
    ;
}

ul {
  
    padding-left: 0.25rem !important;
    /* modifica propiedades que agraga oboostrap por defecto*/
    margin-bottom: 0.25rem !important;
    /* modifica propiedades que agraga oboostrap por defecto*/
}

header {
    display: flex;
    gap: 3rem;
    padding-left: 5rem;
    grid-area: header;
    align-items: center;
    border-bottom: 1px solid whitesmoke;
    width: 100%;
    height: 100%;
}



header .dropdown {
    display: none;
}

/*********************************************/
.contenedor nav {
    display: grid;
    justify-content: space-between;
    background-color: black;
    padding: 0.25px;
    height: 100%;
    width: 100%;
}

.contenedor nav ul {
    list-style: none;
    display: grid;
    align-items: center;
}

.contenedor nav ul li {
    display: grid;
    transform: rotate(-90deg);
}

a {
    color: whitesmoke;
    text-decoration: none;
}

/*********************************************/

.contenedor .frase {
    grid-area: frase;
    background-color: black;
    display: grid;
    justify-content: space-evenly;
    padding-top: 3rem;
    font-size: 2rem;
    height: 100%;
    width: 100%;
}

.contenedor .indicador{
   grid-area: frase;
   display: grid;
   align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.contenedor .indicador h1{
    background-color: black;
    font-size: 2rem;
    transform: rotate(-90deg);
}


/**********************************************/

main .main-index {
    height: 100%;
    width: 100%;
    display: grid;
    background-color: rgb(5, 5, 5);
    grid-area: main;
    color: whitesmoke;
    justify-content: center;
    align-items: center;
}

main .main-index img {   
    width: 100%;
    height: 100%;
    padding-bottom: 5rem;
    padding-right: 5rem;
}

/**********************************************/

.main-about {               /**falta revisar annhco y alto**/
    width: 90%;
    display: grid;
    justify-content: center;

}

.main-about h1 {
    padding-top: 3rem;
    padding-bottom: 1rem;
}

.main-about .presentacion {
    width: 100%;
    color: whitesmokes;
}

.main-about .presentacion h1 {
    padding-bottom: 1rem;
}

.main-about .presentacion .ratio iframe {
    border-radius: 25px;
    border: 1px solid rgb(71, 70, 70);
    box-shadow: 2px 3px 15px rgb(59, 59, 59);
    grid-column: span 5;
    width: 100%;
    height: 100%;
}

.main-about .nosotros {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 4rem;
    padding-left: 0.0rem;
    color: whitesmokes;
}

.main-about .nosotros p, .main-about .nosotros .ocultar p {
    padding-top: 3rem;
}

.main-about .nosotros img {
    border-radius: 25px;
    border: 1px solid rgb(71, 70, 70);
    box-shadow: 2px 3px 15px rgb(59, 59, 59);
    width: 100%;
}

.main-about .ubicacion {
    width: 100%;
}

.ratio iframe {
    border-radius: 25px;
    border: 1px solid rgb(71, 70, 70);
    box-shadow: 2px 3px 15px rgb(59, 59, 59);
    grid-column: span 5;
    width: 100%;
    height: 100%;
}

/*********************************************/

.main-books,
.main-eventos {
    width: 90%;
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.main-books .fotos{
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding-bottom: 2rem;
    padding-top: 2rem;
    row-gap: 2rem;
}


.main-eventos .fotos {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding-bottom: 2rem;
    padding-top: 2rem;
    row-gap: 2rem;
}


.main-books .fotos img, .main-eventos .fotos img{
    border-radius: 25px;
    border: 1px solid rgb(71, 70, 70);
    box-shadow: 2px 3px 15px rgb(59, 59, 59);
    width: 90%;
}

.main-books p, .main-eventos p{
    width: 95%;
    padding-bottom: 2rem;
    padding-left: 3rem;
    display: grid;
}
/*********************************************/

.main-contactos {
    width: 95%;
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.main-contactos h1 {
    display: none;
}

.main-contactos form {
    width: 95%;
    padding-bottom: 1rem;
}

/*********************************************/
.nav-izq {
    grid-area: nav-izq;
    border-right: 1px solid whitesmoke;
}

.nav-der {
    grid-area: nav-der;
    border-left: 1px solid whitesmoke;
}

/*********************************************/
footer {
    height: 100%;
    width: 100%;
    border-top: 1px solid whitesmoke;
    grid-area: footer;
    display: grid;
    justify-content: center;
    color: whitesmoke;
    background-color: black;
    padding-bottom: 0.5rem;
}

footer p {
    text-align: center;
    margin-bottom: 0;
}

footer ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 5rem;
}

/***************************************************************/

/**********************************************************/
@media screen and (max-width:768px) {

    header .dropdown {
        display: block;
    }

    .contenedor {
        width: 100vw;
        height: 100vh;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.7fr 10fr .7fr;
    }

    header {
        justify-content: center;
        padding-left: 0rem;
    
    }

    .contenedor .nav-izq,
    .contenedor .nav-der,
    /**agrupa tags no visibles en media query***/
    .contenedor .ocultar,
    .contenedor .frase,
    .contenedor .indicador,
    .contenedor .main-eventos .fotos .expan {
        display: none;
    }

    /***********************main********************************/

    main .main-index img{
        padding-right: 0rem;
        padding-bottom: 0rem;
    }

    .main-about {
       width: 90vw;
       padding-left: 2rem;
    }

    .main-about .nosotros {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    /*******/
    .main-eventos {
        width: 90vw;
        padding-left: 2rem;
        display: grid;
        row-gap: 1rem;
        text-align: center;
        align-items: center;
        text-align: center;
    }

    .main-eventos .fotos {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    /*******/
    .main-books {
        display: grid;
        width: 95vw;
        gap: 0.5rem;
        padding-left: 0rem;
        text-align: center;
        align-items: center;
        text-align: center;
    }
    
    .main-books .fotos {
        display: grid;
        height: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        padding-top: 1rem;
        padding-bottom: 1rem;
        row-gap: 2rem;
        padding-left: 3rem;
    }   

    .main-books .fotos img{
        width: 90%;
        height: 80%;
    }

    .main-books p{
        width: 90%;
        padding-top: 1rem;
        padding-left: 3rem;
    }

    /*******/
    .main-contactos h1 {
        display: block;
    }

    /*******/
    .main-contactos {
        padding-left: 2rem;
    }

    .main-contactos form {
        width: 90vw;
        padding-bottom: 1.5rem;
    }

    .row.g-3.needs-validation {
        flex-direction: column;
    }
}

/***********************************/
