@import "../scss/html/cont";
@import "../scss/html/footer";
@import "../scss/html/frase";
@import "../scss/html/header";
@import "../scss/html/main-index";
@import "../scss/html/nav";
@import "../scss/estilos-base/media-query";

*{
    margin: 0rem;
    padding: 0rem;
    box-sizing: border-box;
}

