@import "../estilos-base/mixin";
@import "../estilos-base/variables";

%nav {
    background-color: $fondo ;
    display: grid;
    padding-bottom: 2rem;
    gap: 0.5rem;
    padding-top: 2rem;
    width: 100%;
}

%ul {
    position: fixed;
    list-style: none;
    display: grid;
    margin-block-end: 0;
    margin-bottom: 0;
    padding-inline-start: 0;
    gap: 6rem;

    li {

        transform: rotate(-90deg);

        padding-bottom: 1rem;


        a {
            color: whitesmoke;
            text-decoration: none;
        }

    }
}



%img {
    border-radius: 25px;
    border: 1px solid rgb(71, 70, 70);
    box-shadow: 2px 3px 15px rgb(59, 59, 59);
    @include t-100;
}

%estructura-albums {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 2rem;
    padding: 2rem;
    transition: transform 0.2s ease;
}

%main-albums {
    width: 100%;
    height: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
}

%p-albums {
    width: 95%;
    padding-bottom: 2rem;
    padding-left: 3rem;
    text-align: left;
}