@mixin t-100 {
    width: 100%;
    height: 100%;
}

@mixin t-vh {
    width: 100vw;
    height: 100vh;
}

@mixin t-comb {
    width: 100%;
    height: 100vh;
}

@mixin estructura($rows, $columns) {
    display: grid;
    grid-template-rows: $rows;
    grid-template-columns: $columns;
}

@mixin areas($areas) {
    grid-template-areas: $areas;
}