@import "../estilos-base/variables";
@import "../estilos-base/mixin";
@import "../estilos-base/extend";

.contenedor {
    main {
        .main-about {
            width: 90%;
            display: grid;
            justify-content: center;

            h1 {
                padding-top: 3rem;
                padding-bottom: 1rem;
            }

            .presentacion {
                width: $ancho-100;
                color: $color-fuente;

                .ratio iframe {
                    @extend %imagenes;
                    grid-column: span 5;
                    height: $alto-100;
                }
            }
            .nosotros {
                width: $ancho-100;
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr 1fr;
                column-gap: 4rem;
                padding-left: 0.0rem;
                img {
                    @extend %imagenes;
                }
                .p{
                    @extend %about-p;
                }
                .ocultar{
                    p{
                        @extend %about-p;
                    }
                    img{
                        @extend %imagenes;
                    }
                }
                
            }
            .ubicacion {
                width: 100%;
                .ratio iframe {
                    @extend %imagenes;
                    grid-column: span 5;
                    height: $alto-100;
                }

            }

        }
        
    }
}


