@import "../estilos-base/extend";
@import "../estilos-base/mixin";
@import "../estilos-base/variables";

.contenedor {
    main {
        .main-about {
            background-color: $fondo;
            display: grid;
            justify-content: center;
            padding-right: 2rem;
            padding-left: 2rem;

            h1 {
                padding-top: 3rem;
                padding-bottom: 1rem;
            }

            .presentacion {
                .ratio iframe {
                    @include t-100;
                }
            }

            .nosotros {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr 1fr;
                column-gap: 4rem;
                padding-left: 0.0rem;

                p,
                .ocultar p {
                    padding-top: 3rem;
                    /***falta agregar esto al scss***/
                }

                img {
                    @extend %img;
                    
                }
            }

            .ubicacion {
                width: 100%;

                .ratio iframe {
                    @extend %img;
                    width: 100%;
                }
            }
        }
    }
}