@import "../estilos-base/extend";
@import "../estilos-base/mixin";
@import "../estilos-base/variables";

.contenedor {
    main {
        .main-contactos {
            h2 {
                display: none;
            }

            width: 100%;
            height: 100%;
            display: grid;
            justify-content: center;
            align-items: center;
            padding-top: 0.25rem;

            h1 {
                display: none;
            }

            form {
                width: 95%;
                padding-bottom: 1rem;
                width: 100%;
                height: 100%;
                padding-left: 1rem;
            }
        }

    }
}