<<<<<<< HEAD
.contenedor {
    .frase {
        display: grid;
        grid-area: frase;
        font-size: 3rem;
        padding-left: 1.5rem;
        background-color: black;
    }

    .indicador {
        display: grid;
        grid-area: frase;
        align-items: start;
        font-size: 2rem;
        padding-top: 10rem;
        background-color: black;
        padding-right: 2rem;

        h1 {
            display: grid;
            position: fixed;
            transform: rotate(-90deg);


        }
    }
=======
.contenedor {
    .frase {
        display: grid;
        grid-area: frase;
        font-size: 3rem;
        padding-left: 1.5rem;
        background-color: black;
    }

    .indicador {
        display: grid;
        grid-area: frase;
        align-items: start;
        font-size: 2rem;
        padding-top: 10rem;
        background-color: black;
        padding-right: 2rem;

        h1 {
            display: grid;
            position: fixed;
            transform: rotate(-90deg);


        }
    }
>>>>>>> aff376cd474ba50ebe62e705aff5532516681dac
}