@import "../estilos-base/mixin";

.contenedor{
    header {
        display: flex;
        gap: 3rem;
        padding-left: 5rem;
        grid-area: header;
        align-items: center;
        border-bottom: 1px solid whitesmoke;
        @include tamanio;
        .dropdown {
            display: none;
        }
    }
}