@import "../estilos-base/mixin";

.contenedor {
    main {
        .main-index {

            @include t-100;
            display: grid;

            justify-content: center;
            align-items: center;

            img {
                justify-content: center;
                align-items: center;
                @include t-100;
            }
        }
    }
}