@import "../estilos-base/extend";


.contenedor {
    .nav-der {
        @extend %nav;
        grid-area: nav-der;
        border-left: 1px solid whitesmoke;

        ul {
            @extend %ul;

            li {
                @extend %li;

                a {
                    @extend %a;
                }
            }
        }
    }

    .nav-izq {
        @extend %nav;
        grid-area: nav-izq;
        border-right: 1px solid whitesmoke;

        ul {
            @extend %ul;

            li {
                @extend %li;

                a {
                    @extend %a;
                }
            }
        }
    }
}