@import "../estilos-base/extend";

.contenedor {
    .nav-izq {
      
        @extend %nav;
        grid-area: nav-izq;
        border-right: 1px solid whitesmoke;

        ul {
            @extend %ul;
        }
    }

    .nav-der {
     
        padding-right: 3rem;
        @extend %nav;
        grid-area: nav-der;
        border-left: 1px solid whitesmoke;
     
        ul {
            @extend %ul;
            
        }
    }
}